.back-to-top.wrapper
  button.back-to-top__btn(type="button" data-target="#promo")
    | Наверх
    span.back-to-top__arrow

footer.footer.wrapper
  .footer__col.footer__col_content_address
    .contact-item Санкт-Петербург, Владимирский пр., д. 3 лит. А, офис 701
  .footer__col.footer__col_content_phone
    a.contact-item.contact-item_type_phone(href="#") +7 (812) 445-68-09
  .footer__col.footer__col_content_email
    a.contact-item.contact-item_type_email(href="#") Напишите нам
