header.header
  .header__wrapper
    .header__col.header__col_type_logo
      a.logo(href="/")
    nav.header__col.header__col_type_nav
      ul.nav
        li.nav__item
          a.nav__link(href="#") Пункт 1
          .nav__dropdown
            .nav__dropdown-inner
              a.nav__dropdown-col(href="#")
                span.nav__icon
                span.nav__desc
                  span.nav__desc-title Меню 1
                  span.nav__desc-text Покупайте и продавайте
              a.nav__dropdown-col(href="#")
                span.nav__icon
                span.nav__desc
                  span.nav__desc-title Меню 2
                  span.nav__desc-text Покупайте и продавайте
              a.nav__dropdown-col(href="#")
                span.nav__icon
                span.nav__desc
                  span.nav__desc-title Меню 1
                  span.nav__desc-text Покупайте и продавайте
              a.nav__dropdown-col(href="#")
                span.nav__icon
                span.nav__desc
                  span.nav__desc-title Меню 2
                  span.nav__desc-text Покупайте и продавайте
        li.nav__item
          a.nav__link(href="#") Пункт 2
        li.nav__item
          a.nav__link(href="#") Пункт 3
        li.nav__item
          a.nav__link(href="#") Пункт 4
        li.nav__item
          a.nav__link(href="#") Пункт 5
    .header__col.header__col_type_aside
      button.btn(type="button")
