*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font: $font_size_default $font_family_default;
  line-height: $line_height_default;
  color: $color_default;
}

@for $i from 1 to 6 {
  .h#{$i},
  h#{$i} {
    margin-bottom: 0;
  }
}

a {
  @extend %link-default;
}

ol,
ul {
  padding-left: 0;
  margin-bottom: 0;

  li {
    list-style: none;
  }
}

input {
  outline: 0;
  outline: none;
}

button {
  outline: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0;
    cursor: pointer;
  }
}
