@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Light.eot');
  src: local('Formular Light'), local('Formular-Light'),
      url('../fonts/Formular-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Formular-Light.woff2') format('woff2'),
      url('../fonts/Formular-Light.woff') format('woff'),
      url('../fonts/Formular-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular.eot');
  src: local('Formular'),
      url('../fonts/Formular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Formular.woff2') format('woff2'),
      url('../fonts/Formular.woff') format('woff'),
      url('../fonts/Formular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('../fonts/Formular-Bold.eot');
  src: local('Formular Bold'), local('Formular-Bold'),
      url('../fonts/Formular-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Formular-Bold.woff2') format('woff2'),
      url('../fonts/Formular-Bold.woff') format('woff'),
      url('../fonts/Formular-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
