@each $index, $params in $font_params {
  .#{$index},
  #{$index} {
    @include setfonts(nth(nth(nth($params,1), 2), 1), nth(nth(nth($params,2), 2), 1), nth(nth(nth($params,3), 2), 1), nth(nth(nth($params,1), 2), 2), nth(nth(nth($params,2), 2), 2), nth(nth(nth($params,3), 2), 2), nth(nth($params,4),2));
  }
}

.tdec-none {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.tdec-underline {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
