include libs/mixins

block meta
  - var title = 'Базовый шаблон';

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title #{title}
    meta(name="keywords" content="")
    meta(name="description" content="")

    //- link(href="../img/favicon.ico" rel="shortcut icon")

  body.page
    block header
      include base/header.pug

    .page__wrapper
      block promo

      block wrapper

    block footer
      include base/footer.pug

    template.selecter-template
      .selecter
        button.selecter__placeholder(type="button")
          span.selecter__title
          +icon('arrow-down','selecter__arrow')
        //- .selecter__list
          button.selecter__option(type="button") Москва
          button.selecter__option(type="button") Санкт-Петербург
          button.selecter__option(type="button") Владивосток
          button.selecter__option(type="button") Оренбург
