include libs/mixins

block meta
  - var title = 'Базовый шаблон';

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title #{title}
    meta(name="keywords" content="")
    meta(name="description" content="")

    //- link(href="../img/favicon.ico" rel="shortcut icon")

  body.page
    block header
      include base/header.pug

    .page__wrapper
      block promo

      block wrapper

    block footer
      include base/footer.pug

    template.selecter-template
      .selecter
        button.selecter__placeholder(type="button")
          span.selecter__title
          +icon('arrow-down','selecter__arrow')

    script(src="https://api-maps.yandex.ru/2.1?apikey=cb485d6a-b2b8-4355-ba07-1baec5b10737&lang=ru_RU")
