include libs/mixins

block meta
  - var title = 'Базовый шаблон';

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title #{title}
    meta(name="keywords" content="")
    meta(name="description" content="")

    //- link(href="../img/favicon.ico" rel="shortcut icon")

  body
    block header
      include base/header.pug

    block promo

    block wrapper

    block footer
      include base/footer.pug
