extends base

block meta
  - var pageClass = 'main-page';
  - var title = 'Главная';

block wrapper
  h1 H1 — заголовок
  h2 H1 — заголовок
  h3 H1 — заголовок
  h4 H1 — заголовок
  h5 H1 — заголовок
